

@media (min-width:768px) {
  .portfolio-block.cv .group .period {
    float: right;
  }
}
@media (min-width:768px) {
  .portfolio-block.cv .item {
    font-weight: 300;
  }
}

@media (min-width:768px) {
  .portfolio-block.cv .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.portfolio-block.cv .group .period {
  font-size: .8rem;
  float: none;
  font-weight: 700;
  margin-top: 4px;
  color: #6c757d;
  opacity: .8;
}

.portfolio-block.cv .group .period {
  float: right;
}

.portfolio-block.cv .col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.portfolio-block.cv .education h3, .portfolio-block.cv .work-experience h3 {
  font-weight: 700;
}

.portfolio-block.cv h3 {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

.teaching-block h3 {
  font-size: 10rem;
  margin-bottom: 0.2rem;
}

.portfolio-block.cv .group .organization {
  font-size: 1rem;
  display: inline-block;
} 

.portfolio-block.cv h4 {
  font-size: 1.2rem;
}

.portfolio-block.cv .h4 {
  font-size: 1.20625rem;
}

.portfolio-block.cv .group .period {
  float: right;
}

@media (min-width:768px) {
  .portfolio-block.cv .group .period {
    float: right;
  }
}

.portfolio-block.cv .group .period {
  font-size: .8rem;
  float: none;
  font-weight: 700;
  margin-top: 4px;
  color: #6c757d;
  opacity: .8;
}

@media (min-width:768px) {
  .portfolio-block.cv .item {
    font-weight: 300;
  }
}

@media (min-width:768px) {
  .portfolio-block.cv .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.portfolio-block.cv .col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.portfolio-block.cv .education h3, .portfolio-block.cv .work-experience h3 {
  font-weight: 700;
}

.portfolio-block.cv h3 {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

.teaching-block h3 {
  font-size: 10rem;
  margin-bottom: 0.2rem;
}

.portfolio-block.cv .group .organization {
  font-size: 1rem;
  display: inline-block;
}